.logo>.slogan {
  font-style: italic;
}

.logo>img {
  width: 100%;
}

.logo>.phones>a {
  display: inline-block;
  font-size: 1.5em;
  font-weight: lighter;
  color: rgb(255,255,255);
}

.logo>.socialButtons>a {
  display: inline-block;
  color: rgb(255,255,255);
  margin: 10px 15px;
}