.menu {
  font-family: 'Montserrat', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.menu a>span {
  font-weight: bold;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-bottom: 5px;
  transition: ease 0.2s;
  color: rgb(130, 131, 133);
}

.menu a:after {
  transition: ease 0.2s;
}

.menu a.active>span, .menu a:hover>span {
  color: rgb(255, 153, 7);
  border-bottom-color: rgb(255, 153, 7);
}

.menu a:hover:after {
  border-top-color: rgb(255, 153, 7);
}