{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false
      }
    ]
  ]
}